<div class="card">
  <div class="card-header">
    <h2>New Bookmark</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <%= simple_form_for [@list, @bookmark], url: list_bookmarks_path(@list) do |l| %>
      <%= l.input :comment %>
      <%= l.collection_select :movie, Movie.all, :id, :title, prompt: "Select a movie" %>
      <%= l.button :submit, class:"btn btn-success"%>
      <%= link_to "back to lists", lists_path, class:"btn btn-dark mt-1" %>
    <% end %>
  </div>
</div>
